html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Yeseva One', cursive;
}

.header, .gallery, .testimonial, .book-now, .footer {
    padding-left: 100px;
    padding-right: 100px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.links {
    display: flex;
    gap: 16px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    gap: 15px;
    padding-bottom: 100px;
    padding-top: 100px;
}

.title {
    font-size: 50px;
}

.gallery {
    display: flex;
    padding-bottom: 100px;
    flex-direction: column;
    text-align: center;
}

.services {
    font-size: 35px;
    letter-spacing: 10px;
    margin-bottom: 50px;
    font-family: 'Shrikhand', cursive;
    padding-top: 25px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lashes {
    max-width: 300px;
}

.lash-title {
    font-size: 20px;
    padding-bottom: 10px;
}

.lash-text {
    margin-top: 10px;
}

.testimonial {
    padding-top: 25px;
    padding-bottom: 100px;
}

.quote {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
}

.book-now {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.box {
    display: flex;
    border-radius: 100px;
    background-color: #b97a64;
    padding: 30px;
    color: white;
    width: 800px;
}

.left, button {
    padding: 15px;
}

.left-title {
    font-size: 25px;
}

.left-text, .left-title {
    padding: 10px;
}

.left-text {
    font-size: 12px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
} 

button {
    border-radius: 100px;
    font-family: 'Shrikhand', cursive;
    background-color: #b97a64;
    border-color: white;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #cfb398;
    font-size: 15px;
    color: white;
    border-color: #b59277;
}