body {
    font-family: 'Yeseva One', cursive;
    margin-left: 100px;
    margin-right: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    gap: 16px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    gap: 15px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.title {
    font-size: 50px;
}

.gallery {
    display: flex;
    margin-bottom: 100px;
    flex-direction: column;
    text-align: center;
}

.services {
    font-size: 35px;
    letter-spacing: 10px;
    margin-bottom: 50px;
    font-family: 'Shrikhand', cursive;
    padding-top: 25px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lashes {
    max-width: 300px;
}

.lash-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.lash-text {
    margin-top: 10px;
}

.testimonial {
    padding-top: 25px;
    margin-bottom: 100px;
}

.quote {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
}

.book-now {
    margin: 50px;
}

.box {
    display: flex;
    border-radius: 100px;
    background-color: #b97a64;
    padding: 30px;
    margin: 30px;
    color: white;
}